.page-content{
	padding-top: 40px !important;
}
.apply-tr{
	width: 100%;
	padding: 2px 0px;
	overflow: hidden;
}
.apply-tr>div{
	float: left;
}
.apply-td-text{
	display: inline-block;
	width: 150px;
	padding: 4px;
}
.apply-text{
	float: right;
}
.apply-must:before{
	content: " * ";
	color: red;
}
.apply-td-input{
	width: 220px;
	line-height: 14px;
	padding: 2px 5px;
	font-size: 1em;
}
.apply-td-input .radio-container{
	padding: 5px 20px 0px 0px;
	float: left;
	cursor: pointer;
}
.apply-td-explain{
	width: 450px;
	font-size: 18px;
	padding: 2px 5px;
	font-family: "黑体";
}
.radio-container label{
	cursor: pointer;
}