#main{

}
.join-pic{
	padding: 20px 0px;
	width: 100%;
}
.join-pic img{
	width: 100%;
}
.join-container{
	width: 100%;
	overflow: hidden;
}
.join-left-sidebar{
	float: left;
	width: 200px;
	height: 600px;
	border-right: 1px solid rgb(223,223,223);
}
.join-left-container{
	padding-top: 40px;
}
.join-left-container span{
	display: block;
	letter-spacing: 2px;
	padding: 5px;
}
.join-left-ch{
	font-size: 22px;
	font-family: "微软雅黑";
	color: rgb(8,110,60);
}
.join-left-en{
	font-size: 22px;
	font-family: "宋体";
	color: #32bdc9;
}
.join-content{
	width: 100%;
	padding: 30px 0px;
}
.join-content ul{
	float: right;
	width: 720px;
}
.join-content ul li{
	padding:30px 0px;
	border-top: 3px solid rgb(195,195,195);
}

.join-content .h1{
	font-size: 20px;
	font-weight: 800;
}
.join-content ul li span{
	font-size: 14px;
	display: inline-block;
	font-family: "宋体";
	line-height: 1.8em;
	padding-left: 10px;
	letter-spacing: 1px;
}
.join-content ul li span:nth-last-child(1){
	display: block;
}