
.seach-container{
	padding: 15px 0px;
	position: relative;

}
.seach-input{
	border: 1px solid rgb(224,224,224);
	height: 40px;
	width: 600px;
	float: left;
}
.seach-btn{
	margin-left: 20px;
	width: 150px;
	line-height: 40px;
	color: white;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	background: rgb(59,149,61);
	float: left;
}