.masterdynamic-title{
	padding: 20px;
	font-size: 18px;
}
.text-center{
	text-align: center;
}
.masterdynamic-subhead-date{
	padding: 0px 5px 0px 3px;
}
.masterdynamic-body{
	
	margin-top: 40px;
	text-indent: 2em;
}