.page-content{
	/*margin-top: 20px;*/
}
img{
	height: 98px;
	width: 98px;
	float: left;
}

.name{
	color: #00a548;
	font-size: 18px;
	margin-left: 11px;
}

.time{
	color: #7c7c7c;
	font-size: 12px;
	margin-left: 20px;
}

.content{
	margin-left: 109px;
	padding-top: 17px;
}

.content p {
	color: #7c7c7c;
	font-size: 14px;
}

.message-btn{
	border-bottom: solid 	#00a548 1px;
}

.message-edit{
	color: #00a548;
	clear: both;
	text-align: right;
	font-size: 14px;
	padding-bottom: 10px;
}

.reply-btn{
	margin-right: 15px;
}

.delete-btn{
	margin-left: 15px;
}